*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --blue: #0D476C;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(228, 228, 228, 0.7),
    rgba(228, 228, 228, 0.694)),url(./imagess/picture4.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 190px;
    padding-right: 6px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: var(--blue);
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}

.nav-links ul li:after {
    content:'';
    width: 0%;
    height: 2px;
    background: #D72700;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 50%;
    color: var(--blue);
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: var(--blue);
}

.hero-btn {
    padding: 1rem 2.5rem;
    border: none;
    color:#fff;
    background: var(--blue);
    font-size: 15px;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
    text-decoration: none;
    border-radius: 4px;
    padding-left: -3rem;
}

.hero-btn:hover {
    background: #D72700;
}

nav .fa {
    display: none;
}

@media screen and (max-width: 700px) {
    .text-box h1 {
        font-size: 25px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: var(--blue);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: var(--blue);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    nav .fa:nth-last-child(2){
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }

    .nav-links ul li a {
        color: #fff;
    }

    nav img {
        padding-top: 1rem;
    }
}
/*-- what are welding chamber habitats --*/
.what {
    width: 100%;
    margin: auto;
    padding-top: 80px;
    display: flex;
    text-align: center;
    background: #f7f7f7;
}

.what-box {
    background: #fff;
    margin-bottom: 10%;
    padding: 20px 22px;
    box-sizing: border-box;
    padding-left: 7rem;
    text-align: left;
    padding-top: 3rem;
    padding-bottom: 4.5rem;
    margin-top: 6rem;
    margin-right: 3.5rem;
    padding-right: 4rem;
}

.what-box h1 {
    font-size: 36px;
    padding-bottom: 10px;
}

.what-img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 700px) {
    .what {
        flex-direction: column;
    }

    .what-box h1 {
        font-size: 25px;
    }

    .what-box {
        padding-left: 4rem;
        margin-right: 3rem;
        padding-right: 1.5rem;
    }

    .what-img {
        margin-left: 0.5rem;
    }

    .what-box p {
        font-size: 16px;
    }
    
}

/*-- how does it work? --*/
.how {
    width: 100%;
    margin: auto;
    padding-top: 80px;
    display: flex;
    text-align: center;
    background: #f7f7f7;
    padding-bottom: 3rem;
}

.how-box {
    background: #fff;
    margin-bottom: 10%;
    padding: 20px 22px;
    box-sizing: border-box;
    padding-left: 5rem;
    text-align: left;
    padding-top: 3rem;
    padding-bottom: 4.5rem;
    margin-top: 0rem;
    padding-right: 13rem;
    
}

.how-box h1 {
    font-size: 36px;
    padding-bottom: 10px;
}

.how-img {
    width: 80%;
    height: auto;
    margin-left: 5rem;
    margin-top: 0rem;
}

@media screen and (max-width: 700px) {
    .how {
        flex-direction: column;
    }

    .how-box h1 {
        font-size: 25px;
    }

    .how-box {
        padding-left: 4rem;
        margin-left: 3rem;
        padding-right: 2rem;
        margin-top: 1rem;
    }

    .how-img {
        margin-left: 0.3rem;
        width: 90%;
    }

    .how-box p {
        font-size: 16px;
    }
    
}

/*-- why you need chamber habitats --*/
.why {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.why h1 {
    font-size: 36px;
    font-weight: 600;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.why-img {
    width: 80px;
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.why-col {
    flex-basis: 31%;
    background: #f6f7f8;
    border-radius: 10px;
    margin-bottom: 10%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.why-col p {
    padding: 1.6rem;
    text-align: justify;
}

.why-col h3 {
    font-size: 25px;
}

@media screen and (max-width: 700px) {
    .why h1 {
        font-size: 25px;
        padding-bottom: 1rem;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }
}

/*-- why choose moners creative --*/
.whychoose {
    width: 100%;
    margin: auto;
    padding-top: 80px;
    display: flex;
    flex-direction:column;
    flex-basis: 31%;
    text-align: center;
    background: #f7f7f7;
}

.whychoose-box {
    background: #fff;
    padding: 20px 22px;
    box-sizing: border-box;
    padding-left: 5rem;
    text-align: left;
    padding-bottom: 4.5rem;
    margin-left: 18rem;
    position: relative;
    margin-right: 18rem;
    padding-right: 5rem;
    z-index: 2;
    bottom: 170px;
}

.whychoose-box h1 {
    font-size: 36px;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 1rem;
}

.whychoose-box p {
    text-align:justify;
}

.whychoose-img {
    width: 70%;
    height: auto;
    position: relative;
    z-index: 1;
    top: 90px;
}

@media screen and (max-width: 700px) {

    .whychoose-box {
        padding-left: 2rem;
        text-align: left;
        padding-bottom: 4.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-right: 2rem;
        bottom: 0px;
        z-index: 0;
    }

    .whychoose-img {
        z-index: 1;
        top: 0px;
        width: 90%;
        padding-bottom: 1rem;
    }
}

/* Footer Section */
.footer {
    padding: 6rem calc((100vw - 1350px) / 2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;
    background: var(--blue);
}

.footer__desc {
    padding: 0 2rem;
}

.footer__desc h1 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.footer p {
    margin-bottom: 1rem;
    font-size: 15px;
}

.footer i {
    margin-bottom: 0.4rem;
}

#phone {
    font-weight: bold;
    font-size: 1.2rem;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
}

.footer__title {
    font-size: 14px;
    margin-bottom: 16px;
}

.footer__link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-bottom: 0.5rem;
    transition: 0.3s ease-in-out;
}

.footer__link:hover {
    color: var(--red);
}

.footer__info {
    display: flex;
}

.footer__info a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding-left: 0.6rem;
    padding-bottom: 1rem;
}

.footer__info a:hover {
    color: var(--red);
}

.footer i {
   padding-top: 0.2rem;
}

.footer p {
    padding-left: 0.6rem;
    font-size: 13px;
}

.footer h3 {
    padding-bottom: 1rem;
}

.footer__img {
    width: 80%;
    height: auto;
    padding-bottom: 1rem;
}

@media screen and (max-width: 820px) {
    .footer__wrapper {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 400px) {
    .footer__desc {
        padding: 1rem;
    }

    .footer__links {
        padding: 1rem;
    }
}

/*--------- Project Experiences page --------------- */

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),
     rgba(4,9,30,0.7)),url(./imagess/picture2.JPG);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    margin-top: 100px;
}

.pe-content {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction:row;
    flex-basis: 31%;
    text-align: left;
    background: #f7f7f7;
}

.pe-box {
    background: #fff;
    padding: 20px 20px;
    box-sizing: border-box;
    padding-left: 4rem;
    text-align: left;
    margin-left: 7rem;
    position: sticky;
    padding-right: 5rem;
    padding-top: 3rem;
    margin-bottom: 15rem;
}

.pe-contents {
    padding-right: 12rem;
    padding-left: 6rem;
    padding-top: 3rem;
}

.pe-contents p {
    padding-bottom: 3rem;
}

.pe-contents h2 {
    font-size: 30px;
    padding-bottom: 0.5rem;
}